/*colors
light purple: #9E78E3
dark purple: #6F43A3
light yellow: #FBF891
dark yellow: #F3E92F */


/*fonts
font-family: 'Pacifico', cursive;
font-family: 'Petrona', serif;
font-family: 'Special Elite', cursive;*/


/*responsive*/
body,
html {
  width: 100%;
  height: 100%; }

/*global padding*/
.pad {
    padding: 1% 2% 1% 1%;
}

#content {
  font-family: 'Special Elite';
  color: #9E78E3;
  font-size: 3vw;
}
