/*colors
light purple: #9E78E3
dark purple: #6F43A3
light yellow: #FBF891
dark yellow: #F3E92F */


/*fonts
font-family: 'Pacifico', cursive;
font-family: 'Petrona', serif;
font-family: 'Special Elite', cursive;*/


/*responsive*/
body,
html {
  width: 100%;
  height: 100%; }

/*global padding*/
.pad {
    padding: 1% 2% 1% 1%;
}

.header {
  font-family: 'Pacifico';
  color: pink;
  font-size: 3vw;
  text-align: center;
}

.section {
  font-family: 'Petrona', serif;
  background: pink;
  color: black;
  font-size: 2vw;
  padding: 1%;
  text-align: center;
}

.section_content {
  font-family: 'Petrona', serif;
}

/* Clear floats after image containers */
.row: after {
    content: "";
    clear: both;
    display: table;
}

.row {
  display: flex;
}

.column1 {
    width: 50%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.column2 {
    width: 25%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
