/*colors
pink: #EB528A
purple: #6868AC
teal: #70D2C7
peach: #ED7874


/*fonts
font-family: 'Pacifico', cursive;
font-family: 'Petrona', serif;
font-family: 'Special Elite', cursive;

font-family: 'Rokkitt', serif;
font-family: 'Ubuntu', sans-serif; */


/*responsive*/
body,
html {
  width: 100%;
  height: 100%;
  background: #EB528A;}

/*global padding*/
.pad {
    padding: 1%;
    width: 960px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: white;

}

.header {
  font-family: 'Rokkitt', serif;
  color: #6868AC;
  font-size: 4vw;
  text-align: center;
}

.section {
  font-family: 'Rokkitt', serif;
  background: #6868AC;
  color: black;
  font-size: 2.5vw;
  padding: 1%;
  text-align: center;
  color: white;
}

.section2 {
  font-family: 'Rokkitt', serif;
  background: #ED7874;
  color: black;
  font-size: 2.5vw;
  padding: 1%;
  text-align: center;
  color: white;
}

.section_content {
  font-family: 'Ubuntu', serif;
}

.section_content h2 {
  text-align: center;
}

/* Clear floats after image containers */
.row: after {
    content: "";
    clear: both;
    display: table;
}

.row {
  display: flex;
}

.column1 {
    width: 50%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.column1 h2 {
  text-align: center;

}

.column2 {
    width: 25%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', serif;
    text-align: center;
}

.column2 h2 {
  font-size: 2vw;
  font-family: "Rokkitt", serif;
}

.column3 {
    width: 33%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu', serif;
    text-align: center;
}

.column3 h2 {
  font-size: 2vw;
  font-family: "Rokkitt", serif;
}
